<div th:fragment="scripts">
  <script>
    function openModalIn() {
      document.getElementById('modal-in').classList.remove('hidden');
    }

    function closeModalIn() {
      document.getElementById('modal-in').classList.add('hidden');
    }

    function openModalOut() {
      document.getElementById('modal-out').classList.remove('hidden');
    }

    function closeModalOut() {
      document.getElementById('modal-out').classList.add('hidden');
    }

    function openModalToPots() {
      document.getElementById('modal-to-pots').classList.remove('hidden');
    }

    function closeModalToPots() {
      document.getElementById('modal-to-pots').classList.add('hidden');
    }

    function openModalOverview() {
      document.getElementById('overview').classList.remove('hidden');
    }

    function closeModalOverview() {
      document.getElementById('overview').classList.add('hidden');
    }

    function toggleEndmonat() {
      const checkbox = document.getElementById("endToggle");
      const section = document.getElementById("endmonthSection");
      if (checkbox.checked) {
        section.style.display = "none";
        document.getElementById("endMonth").value = "";
      } else {
        section.style.display = "block";
      }
    }

    function toggleEndmonatOut() {
      const checkbox = document.getElementById("endToggleOut");
      const section = document.getElementById("endmonthSectionOut");
      if (checkbox.checked) {
        section.style.display = "none";
        document.getElementById("endMonthOut").value = "";
      } else {
        section.style.display = "block";
      }
    }

    window.addEventListener("DOMContentLoaded", () => {
      toggleEndmonat();
      toggleEndmonatOut();
    });

  </script>
  <!--
  <script>
      function openModalPot() {
          document.getElementById('modal-pot').classList.remove('hidden');
      }

      function closeModalPot() {
          document.getElementById('modal-pot').classList.add('hidden');
      }

  </script>
  -->
</div>