<div th:fragment="toPots">

    <div id = "modal-to-pots" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalToPots()">&times;</span>
            <form method="post" th:action="@{/{currYear}/{currMonth}/toPots (currYear=${currYear}, currMonth=${currMonth})}">
                <label for="money-amount">Betrag: </label>
                <input type="number" id="money-amount" name="amount">

                <!--<label>
                    <input type="checkbox" id ="togglePotSelection" onchange="togglePotSelection()" checked>
                    Geld wird nicht auf speziellen Pot verteilt
                </label>-->

                <div id ="potSelection">
                    <label for="potSelect">Pot: </label>
                    <select name="potSelect" id="potSelect">
                        <option value="">-- kein Pot --</option>
                        <option th:each="pot: ${pots}" th:text="*{pot.getName()}" th:value="${pot.name}" th:name="${pot.name}"></option>
                    </select>
                </div>

                <button type="submit">Abschicken</button>
            </form>

        </div>
    </div>
</div>