<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 th:text="${currMonthString} + ' ' + ${currYear}">this month</h1>
    <a href="/pots">Zu den Pots</a>
    <a th:href="@{/{year}/{month}(year = ${prevMonthsYear}, month=${prevMonth})}">letzter Monat</a>
    <a th:href="@{/{year}/{month}(year = ${nextMonthsYear}, month=${nextMonth})}">nächster Monat</a>
    <div class="form-container">
        <form method="post" th:object="${einnahme}" th:action="@{/{currYear}/{currMonth}/einnahme(currYear=${currYear}, currMonth=${currMonth})}">
            <h2>Einnahmen</h2>
            <div class="form-field">
                <label for="descIn">Einnahme:</label>
                <input type="text" id="descIn" th:field="*{desc}" placeholder="z.B. Gehalt">
                <div class="error" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></div>
            </div>

            <div class="form-field">
                <label for="costIn">Betrag (in €):</label>
                <input type="number" id="costIn" th:field="*{betrag}" step="0.01" min="0" placeholder="z. B. 12.50">
                <div class="error" th:if="${#fields.hasErrors('betrag')}" th:errors="*{betrag}"></div>
            </div>

            <button type="submit">Hinzufügen</button>
        </form>

        <form method="post" th:object="${ausgabe}" th:action="@{/{currYear}/{currMonth}/ausgabe(currYear=${currYear}, currMonth=${currMonth})}">
            <h2>Ausgaben</h2>
            <div class="form-field">
                <label for="descOut">Ausgabe:</label>
                <input type="text" id="descOut" th:field="*{desc}" placeholder="z.B. Einkauf bei Aldi">
                <div class="error" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></div>
            </div>

            <div class="form-field">
                <label for="costOut">Kosten (in €):</label>
                <input type="number" id="costOut" th:field="*{betrag}" step="0.01" min="0" placeholder="z. B. 12.50">
                <div class="error" th:if="${#fields.hasErrors('betrag')}" th:errors="*{betrag}"></div>
            </div>

            <button type="submit">Hinzufügen</button>
        </form>
    </div>

    <div class="tocenter">
        <button onclick="openModalIn() ">+ Monatliche Einnahme hinzufügen</button>
    </div>

    <div id="modal-in" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalIn()">&times;</span>

            <form method="post" th:object="${festeEinnahme}" th:action="@{/{currYear}/{currMonth}/festeEinnahme(currYear=${currYear}, currMonth=${currMonth})}">
                <label for="desc">Einahme: </label>
                <input type="text" id="desc" th:field="*{desc}" placeholder="z.B. Gehalt">
                <div class="error" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></div>

                <label for="betrag">Betrag:</label>
                <input type="number" id="betrag" th:field="*{betrag}" step="0.01" min="0">
                <div class="error" th:if="${#fields.hasErrors('betrag')}" th:errors="*{betrag}"></div>

                <label for="startMonat">Startmonat:</label>
                <input type="month" id="startMonat" th:field="*{start}" required>

                <label>
                    <input type="checkbox" id="endToggle" onchange="toggleEndmonat()" checked>
                    Kein Endmonat (läuft unbefristet)
                </label>

                <div id="endmonthSection" style="display: none;">
                    <label for="endMonth">Endmonat</label>
                    <input type="month" id="endMonth" th:field="*{endValue}">
                </div>

                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>

    <div class="tocenter">
        <button onclick="openModalOut() ">+ Monatliche Ausgabe hinzufügen</button>
    </div>

    <div id="modal-out" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalOut()">&times;</span>

            <form method="post" th:object="${festeAusgabe}" th:action="@{/{currYear}/{currMonth}/festeAusgabe(currYear=${currYear}, currMonth=${currMonth})}">
                <label for="desc-out">Ausgabe: </label>
                <input type="text" id="desc-out" th:field="*{desc}" placeholder="z.B. Miete">
                <div class="error" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></div>

                <label for="betrag-out">Betrag:</label>
                <input type="number" id="betrag-out" th:field="*{betrag}" step="0.01" min="0">
                <div class="error" th:if="${#fields.hasErrors('betrag')}" th:errors="*{betrag}"></div>

                <label for="startMonatOut">Startmonat:</label>
                <input type="month" id="startMonatOut" th:field="*{start}" required>

                <label>
                    <input type="checkbox" id="endToggleOut" onchange="toggleEndmonatOut()" checked>
                    Kein Endmonat (läuft unbefristet)
                </label>

                <div id="endmonthSectionOut" style="display: none;">
                    <label for="endMonthOut">Endmonat</label>
                    <input type="month" id="endMonthOut" th:field="*{endValue}">
                </div>

                <label for="freq">Häufigkeit: </label>
                <select id="freq" th:field="*{frequency}">
                    <option th:each="option: ${T(de.ftracker.model.costDTOs.Interval).values()}" th:value="${option}" th:text="${option}">Intervall</option>
                </select>
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>

    <div class="tocenter">
        <button onclick="openModalToPots() ">Geld auf Pots verteilen</button>
    </div>



    <div id = "modal-to-pots" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalToPots()">&times;</span>
            <form method="post" th:action="@{/{currYear}/{currMonth}/toPots (currYear=${currYear}, currMonth=${currMonth})}">
                <label for="money-amount">Betrag: </label>
                <input type="number" id="money-amount" name="amount">

                <!--<label>
                    <input type="checkbox" id ="togglePotSelection" onchange="togglePotSelection()" checked>
                    Geld wird nicht auf speziellen Pot verteilt
                </label>-->

                <div id ="potSelection">
                    <label for="potSelect">Pot: </label>
                    <select name="potSelect" id="potSelect">
                        <option value="">-- kein Pot --</option>
                        <option th:each="pot: ${pots}" th:text="*{pot.getName()}" th:value="${pot.name}" th:name="${pot.name}"></option>
                    </select>
                </div>

                <button type="submit">Abschicken</button>
            </form>

        </div>
    </div>

    <div class="tocenter">
        <button onclick="openModalOverview() ">Überblick Feste Einnahmen und Ausgaben</button>
    </div>

    <div id="overview" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalOverview()">&times;</span>
            <h1>Überblick</h1>
            <table>
                <thead>
                <tr>
                    <th>Einnahme</th>
                    <th>Betrag</th>
                    <th>Frequenz</th>
                    <th>Startmonat</th>
                    <th>Endmonat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fEinnahme: ${festeEinnahmen}">
                    <td th:text="${fEinnahme.desc}"></td>
                    <td th:text="${#numbers.formatDecimal(fEinnahme.betrag, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${fEinnahme.frequency}">monaltich</td>
                    <td th:text="${fEinnahme.start}"></td>
                    <td th:text="${fEinnahme.endValue != null ? fEinnahme.endValue : '-'}">-</td>
                </tr>
                </tbody>
            </table>

            <table>
                <thead>
                <tr>
                    <th>Ausgabe</th>
                    <th>Betrag</th>
                    <th>Frequenz</th>
                    <th>Startmonat</th>
                    <th>Endmonat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fAusgabe: ${festeAusgaben}">
                    <td th:text="${fAusgabe.desc}"></td>
                    <td th:text="${#numbers.formatDecimal(fAusgabe.betrag, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${fAusgabe.frequency}">monaltich</td>
                    <td th:text="${fAusgabe.start}"></td>
                    <td th:text="${fAusgabe.endValue != null ? fAusgabe.endValue: '-'}">-</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--

    <div class="tocenter">
        <button onclick="openModalPot() ">+ Monatliche Ausgabe hinzufügen</button>
    </div>


    <div id="modal-pot" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModalPot()">&times;</span>

            <form method="post" th:object="${festeAusgabe}" th:action="@{/festeAusgabe}">
                <label for="betrag-out">Betrag:</label>
                <input type="number" id="betrag-to-distr" step="0.01" min="0">
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    </div>
    -->

    <div id="einnamen-table">
        <table>
            <thead>
            <tr>
                <th>Einname</th>
                <th>Betrag</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="einnahme: ${einnahmen}">
                <td th:text="${einnahme.desc}"></td>
                <td th:text="${#numbers.formatDecimal(einnahme.betrag, 1, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="sum-in">
            <b>Summe: </b>
            <span th:text="${#numbers.formatDecimal(summeIn, 1, 'COMMA', 2, 'POINT')}">0.00</span>
            <span>€ </span>
        </div>
    </div>

    <div class="ausgaben-table">
        <table>
            <thead>
            <tr>
                <th>Ausgabe</th>
                <th>Kosten</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="ausgabe: ${ausgaben}">
                    <td th:text="${ausgabe.desc}"></td>
                    <td th:text="${#numbers.formatDecimal(ausgabe.betrag, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </tbody>
        </table>
        <div class="sum-out">
            <b>Summe: </b>
            <span th:text="${#numbers.formatDecimal(summeOut, 1, 'COMMA', 2, 'POINT')}">0.00</span>
            <span>€</span>
        </div>
    </div>
    <div class="diff">
        <b>Differenz: </b>
        <span th:text="${#numbers.formatDecimal(differenz, 1, 'COMMA', 2, 'POINT')}">0.00</span>
        <span>€</span>
    </div>


    <script>
        function openModalIn() {
            document.getElementById('modal-in').classList.remove('hidden');
        }

        function closeModalIn() {
            document.getElementById('modal-in').classList.add('hidden');
        }

        function openModalOut() {
            document.getElementById('modal-out').classList.remove('hidden');
        }

        function closeModalOut() {
            document.getElementById('modal-out').classList.add('hidden');
        }

        function openModalToPots() {
            document.getElementById('modal-to-pots').classList.remove('hidden');
        }

        function closeModalToPots() {
            document.getElementById('modal-to-pots').classList.add('hidden');
        }

        function openModalOverview() {
            document.getElementById('overview').classList.remove('hidden');
        }

        function closeModalOverview() {
            document.getElementById('overview').classList.add('hidden');
        }

        function toggleEndmonat() {
            const checkbox = document.getElementById("endToggle");
            const section = document.getElementById("endmonthSection");
            if (checkbox.checked) {
                section.style.display = "none";
                document.getElementById("endMonth").value = "";
            } else {
                section.style.display = "block";
            }
        }

        function toggleEndmonatOut() {
            const checkbox = document.getElementById("endToggleOut");
            const section = document.getElementById("endmonthSectionOut");
            if (checkbox.checked) {
                section.style.display = "none";
                document.getElementById("endMonthOut").value = "";
            } else {
                section.style.display = "block";
            }
        }

        window.addEventListener("DOMContentLoaded", () => {
            toggleEndmonat();
            toggleEndmonatOut();
        });

    </script>
    <!--
    <script>
        function openModalPot() {
            document.getElementById('modal-pot').classList.remove('hidden');
        }

        function closeModalPot() {
            document.getElementById('modal-pot').classList.add('hidden');
        }

    </script>
    -->

</body>
</html>
